
 *{
     
     margin: 0 auto;
     list-style-type: none;
     box-sizing: border-box;
     text-decoration: none;
     
 }
 body{
       background-color: black;
       color: blanchedalmond;
       
       
 }

 
 .encabezados{
     text-align: center;
 }
 .menu-desplazar{ 
     width:100%;
     margin:0 auto;
     padding:0 auto ;
     text-align: center;
     background-color:rgba(4, 96, 194, 0.89);
     color:whitesmoke;
     position:fixed;
     z-index:50;
 }
 .menu-desplazar:hover {
background-color:black;
padding:0 auto;
border-radius:2px;


 }

 .tel a {  
     margin:0 auto;   
     padding: 10px;
     text-decoration: none;     
     font-size: 30px; 
     border-radius: 120%;
     transition:.3s;
 }
 .tel:hover a {
     
     color:whitesmoke;
    background-color:green;
    background: green;
    border-radius: 120px;
    padding:13px ;
    font-size: 38px;
    transition: 0.3s;}
    
    


 .tel:hover a  {
     background-color:green;
     background: green;
     border-radius: 120px;
     padding:13px ;
     transition: 0.3s;
 }

 .introduccion p{
     text-align: center;
     justify-content:justify ;
     font-size: 20px;
 }

 .portada2{
     width: 100%;
     height: 80%;
 }
    nav{
        background: rgb(0, 0, 255);
        height: 80px;
        width: 100%;
       

    }
    label.titulo{
        color:rgb(255, 255, 255);
        font-size:15px;  
        text-align: right;                    
        font-weight: bold;
        margin-left: 2%;  
        z-index: 100; 
    }       
    nav ul{
        float: right;
        margin-right: 0px;
        margin-top:-7px;
       
    }

    nav ul li{
        display:inline-block;
        line-height: 40px;
        margin: 0 ;
        position: relative;        
    }
    nav ul li a{
        color: whitesmoke;
        text-transform: uppercase;
        font-size: 18px;
        position: relative;
    }
    a.active ,a:hover{
        background: rgba(211, 208, 230, 0.822);
        color: blue;       
        transition: .5s;
        border-radius: 50px;
    }
    #bars{
        z-index: 200;
    }
    .checkbtn{
        font-size:20px;
        
        color:rgba(209, 0, 0, 0.904);
        float: left;
        line-height: 5px;
        margin-left: 15px;   
        margin-top: 10px;  
        border-radius:5px;
              
    }
    #check{
        display: none;
        font-size: 50px;
       
    }
/*modifcar tarjeta con imagen*/
.card{
    
    position: relative;  
    width: 100%;
    height: 700px;
    background: rgb(16, 141, 5);
    overflow: hidden;
    z-index: 11;
    border-radius: 20px;     
}



.img{
    width: 100%;
    height:230px;       
     text-align: center;    
     background-size: cover;  
     margin-top: -7px; 
     border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition-delay: .8s;
}
input ,
.toggle{
    position: absolute;
    width: 45px;
    height: 45px;
    top:35px;
    left: 260px;
    bottom: 1px;
    right:0px ;
    outline: none;   
    border-radius: 50px;
    z-index:  10;
}

input{
    opacity: 0;
}
.toggle{
    pointer-events: none;
    border-radius: 50%;
    background: rgba(13, 14, 13, 0.829);
    transition: .6s;
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    box-shadow:0 0 0 1px rgba(7, 22, 236, 0.658);
    color:green
}
input:checked ~ .toggle{
    box-shadow: 0 0 0 3500px rgba(3, 2, 10, 0.884)  ;    
    transform:rotate( 225deg);
    transition: .4s;
    color:red;
    
    }

.imgBx,
.text-card{
   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    line-height: 25px;
}
.text-card{
    margin-top: 20px;
    padding:20px;
    box-sizing: border-box;
    z-index: 11;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}
input:checked ~ .text-card{
    opacity: 1;
    transition-delay: .5s;
   
}

.text-card h3 {   
    margin-top: 25px;
    color: lavenderblush;
    background: none;
    color:red;
    font-weight:bold;
   
}
.text-card p { 
    display: flex;  
    margin-top: 40px;
    margin-bottom:0;
    color: lavenderblush;
    background: none;
    font-size: 16px;
    font-weight:bold;
    justify-content: center;
    transition: .5s;
   
}


.about {
    margin: 0 auto;
    width:100%;
    height: 650px;
    text-align: center;
}


@media (max-width: 1500px){
        .checkbtn{
            display:none;
        }

            nav{                      
        background: rgba(6, 8, 20, 0.692);    
       text-justify: auto;  
        align-items: center;
        transition: all .5s;        
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        justify-content: center;            
        margin-right: 10px;
        font-size: 60px;          
            }        
        .logo{
            display:none
        }
            
        .container-img img{
            max-width: 100%;
            width: auto;
            height: auto;       
            text-align: center;
        } 
  
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        display:none ;
    }
    nav ul li a{
        font-size:16px;
    }
    
}
@media(max-width: 858px){
    .checkbtn{
        display:block;
        position: fixed;
        top:1;
        background: rgba(0, 0, 0, 0.733);
        z-index: 100;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: rgba(6, 8, 20, 0.692);
        top: 80px;
        right: -100%;
        align-items: center;
        transition: all .5s;        
        font-family: Verdana, Geneva, Tahoma, sans-serif;        
        }
    nav ul li{
        
        display:block;
        margin:50px 0;
        line-height: 30px;
        font-weight: bold;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        z-index: 100;
    }
    nav ul li a{
        
        font-size: 20px;
        transition: .3s;
        
    }
    a:hover,a.active{
        background:whitesmoke ;
        color: rgb(38, 6, 218);
        font-size: 28px;
        transition: .3s;
       
    }
    #check:checked ~ ul{
        right: 0;
        z-index: 100;
    }
    label.logo {display:block;
        text-align: right;
        align-items: center;
        padding:5px 80px 80px 0;
       
    }
      
}
.img1{
    
    width: 100%;
    height: 700px;
    text-align: center;     
    
}




container-img{
  text-align: center;  
  margin: auto;  
}

one-third{display: flex ;    
}
.icon-wrap{     
    font-size: 80px;
    text-align: center;    
}        
 h3{
text-align: center;
margin-bottom: 30px;
 } 
 p{
     font-size: 20px;
     padding:5px ;
background:rgb(2, 2, 2);
justify-content: justify;
color: rgb(248, 242, 242);
font-style: normal;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: justify;
 }
 .footer1 li {
     padding: 10px;
     margin-top: 1px;
     margin-bottom: 1px;
     border-bottom: 1px solid black;
     align-content: center;
     text-align: center;
     display: block;   
     color: black;
     text-decoration: none;
        
     background: rgb(255, 240, 245);
     transition: .3s;
    }
    .footer1 :hover{
        background: rgba(7, 7, 109, 0.616);
        color: whitesmoke;
        font-style: bolder;
        font-size: 40px;
        transition: .2s;
    }

    .footer1 a{
        font-size: 30px;
    }
  .second-footer p{
      text-align: center;
  }  

  .second-footer :hover{
      color:blue;
  }
 .redes   {
     border-top: tomato;
    font-size:40px ;     
     display:flex;             
     justify-content: space-between ;
     background-color:whitesmoke ;
     text-align: center;
     transition: .2s;    
     padding:3px     
    }
     .redes :hover{
         font-size:50px ;
         color: rgba(216, 11, 11, 0.733);
         text-decoration: none;
         transition:.3s;
     }





